<ul>
    <li>Studium an der Universität Rostock seit 2018</li>
    <li>seit 2022 LL.B. Good Governance Wirtschaft, Gesellschaft, Recht</li>
    <li><a href="https://www.uni-rostock.de/universitaet/organisation/rektorat/prorektoren/julius-richert/">Studentischer Prorektor</a> der Universität Rostock</li>
    <li>Mitglied und jugendpolitischer Sprecher im Kreisvorstand <a href="https://dielinke-rostock.de/">DIE LINKE. Hansestadt Rostock</a></li>
    <li>Schatzmeister der <a href="https://lawclinicrostock.org">Law Clinic Rostock e.V.</a></li>
</ul>